.yk-custom--8131 {
  bottom: -250px;
  left: -200px;
  max-width: 550px;
}

.yk-custom--1451 {
  top: -25px;
  left: -30px;
  width: 256px;
  height: 208px;
}

@media only screen and (max-width: 575px) {
  .yk-custom--1451 {
    top: -100px;
    left: -100px;
  }
}

.yk-custom--1512 {
  bottom: -28vw;
  left: 50vw;
  width: 75vw;
  height: 75vw;
  background-size: cover;
}

.yk-custom--4124 {
  top: 0;
  right: 0;
  bottom: 0;
  width: 40vw;
  height: 100%;
  background-position: top left;
  background-size: cover;
}

@media only screen and (max-width: 991px) {
  .yk-custom--4124 {
    right: 0;
    width: 50vw;
  }
}

@media only screen and (max-width: 767px) {
  .yk-custom--4124 {
    right: -50vw;
    width: 100vw;
  }
}

.yk-custom--1259 {
  top: -20px;
  right: -5px;
  width: 256px;
  height: 208px;
}

.yk-custom--2355 {
  bottom: -250px;
  left: 0;
  width: 389px;
  height: 550px;
}

/* .c_music
-------------------------------------------------------------*/
.c_music {
  gap: 0.75rem;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  cursor: pointer;
}
.c_music__area {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}
.c_music__track {
  gap: 0.25rem;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}
.c_music__title {
  font-size: 0.5rem;
  text-align: center;
  margin: 0 auto;
  letter-spacing: 0.0313rem;
  -webkit-transform: translateY(0.125rem);
  transform: translateY(0.125rem);
  transition: color 0.3s;
}
.c_music__titleOff {
  display: none;
}
.c_music__line {
  width: 0.0625rem;
  height: 1rem;
  display: inline-block;
  background-color: currentColor;
  -webkit-transform-origin: 50% 100%;
  transform-origin: 50% 100%;
  transition: background-color 0.3s,
    -webkit-transform 0.3s cubic-bezier(0.165, 0.84, 0.44, 1);
  transition: transform 0.3s cubic-bezier(0.165, 0.84, 0.44, 1),
    background-color 0.3s;
  transition: transform 0.3s cubic-bezier(0.165, 0.84, 0.44, 1),
    background-color 0.3s,
    -webkit-transform 0.3s cubic-bezier(0.165, 0.84, 0.44, 1);
  -webkit-animation: sound 0.45s cubic-bezier(0.455, 0.03, 0.515, 0.955)
    infinite alternate;
  animation: sound 0.45s cubic-bezier(0.455, 0.03, 0.515, 0.955) infinite
    alternate;
}
.c_music__line:nth-child(1) {
  -webkit-animation-delay: 0s;
  animation-delay: 0s;
}
.c_music__line:nth-child(2n) {
  -webkit-animation-delay: 0.15s;
  animation-delay: 0.15s;
}
.c_music__line:nth-child(3n) {
  -webkit-animation-delay: 0.3s;
  animation-delay: 0.3s;
}
.c_music__line:nth-child(4n) {
  -webkit-animation-delay: 0.45s;
  animation-delay: 0.45s;
}
.c_music__mute .c_music__titleOn {
  display: none;
}
.c_music__mute .c_music__titleOff {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}
@-webkit-keyframes sound {
  0% {
    -webkit-transform: scale(1, 0.5);
    transform: scale(1, 0.5);
  }
  100% {
    -webkit-transform: scale(1, 1);
    transform: scale(1, 1);
  }
}
@keyframes sound {
  0% {
    -webkit-transform: scale(1, 0.5);
    transform: scale(1, 0.5);
  }
  100% {
    -webkit-transform: scale(1, 1);
    transform: scale(1, 1);
  }
}

/* fixes
-------------------------------------------------------------*/
.c_navbar-contacts__link {
  gap: 0.5rem;
  display: flex;
  align-items: center;
}
.c_navbar-contacts__link svg {
  width: 1rem;
  fill: currentColor;
}
